*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#see{
    background-color:  #34495E;
    color: aquamarine;
}
#buy{
    background-color: aquamarine;
    color: black;
}
